<div class="container">
  <table class="table">
    <tr class="table-head">
      <td class="col-md-8">
        <div class="card-left">
          <h1>Book Description</h1>
        </div>
      </td>

      <td class="col-md-4">
        <div class="card-right">
          <h1>Ticket #12</h1>
        </div>
      </td>
    </tr>
    <tr class="table-row">
      <td>
        <div class="col-md-8">
          <label for="date-out"> Date : </label>
          <span id="date-out">21/01/2017</span>
        </div>
        <div class="col-md-4">
          <label for="time-out"> Time : </label>
          <span id="time-out">8:00 AM</span>
        </div>
      </td>
      <td rowspan="4">
        <div class="row-span col-md-12">
          <h3 class="code"> 0FFF12354533HBO</h3>
          <span> YOUR CODE </span>
        </div>
      </td>
    </tr>
    <tr class="table-row">
      <td>
        <div class="col-md-6">
          <label for="route-travel"> Route : </label>
          <span id="route-travel">
              <strong class="route-start">Cochabamba</strong> to 
              <strong class="route-end">Santa Cruz</strong>
            </span>
        </div>
        <div class="col-md-3">
          <label for="start-start"> Start : </label>
          <span id="start-start">Cochabamba</span>
        </div>

        <div class="col-md-3">
          <label for="route-depart"> Depart : </label>
          <span id="route-depart">Santa Cruz</span>
        </div>
      </td>
    </tr>
    <tr class="table-row">
      <td>
        <div class="col-md-4">
          <label for="type-buss"> Type Buss : </label>
          <span id="type-buss"> Buss Bed </span>
        </div>

        <div class="col-md-4">
          <label for="seat-book"> Seat : </label>
          <span id="seat-book">B7</span>
        </div>

        <div class="col-md-4">
          <label for="price-seat"> Price : </label>
          <span id="price-seat"> 120 <strong class="type-coin"> Bs </strong> </span>
        </div>
      </td>

    </tr>
    <tr class="table-row">
      <td>
        <div class="col-md-6">
          <label for="name-book"> Name : </label>
          <span id="name-book"> Marco Montano </span>
        </div>

        <div class="col-md-6">
          <label for="phone-number"> Phone : </label>
          <span id="phone-number"> 76485273 </span>
        </div>
      </td>
    </tr>
  </table>
</div>
<div class="data-groups col-sm-12 for-group row book">
  <button type="button" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-primary">Print</button>
</div>